body {
    position: relative;
    background-color: #2C2C80;
  }
 
.home-hero {
    background-image: url('../images/background.jpg');
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    align-items: center;
    height: 75vh;
    margin-bottom: 0;
}

.hero-body {
    text-align: center;
}

.hero-body h1 {
    font-family: 'Titillium Web', san-serif;
    text-align: center;
    color: #ffffff;
    text-transform: uppercase;
    font-size: 2.5rem;
}

.new-user {
    color: #ED8822;
    text-align: center;
}

.new-user:hover {
    color: #E9984E;
    text-decoration: none;
}

.btn-secondary {
    color: #fff;
    background-color: #2C2C80;
    border-color: #2C2C80;
}

.btn-secondary:hover {
    color: #fff;
    background-color: #44447F;
    border-color: #44447F;
    transition: all .15s ease-out
}

.navbar-brand {
    width: 10%;
}

.about {
    padding-top: 35px;
    padding-bottom: 20px;
    color: #ffffff;
    font-family: 'Raleway', sans-serif;
    text-align: center;
    background-color: #ED8822;
}

.fa-dumbbell, .fa-weight, .fa-spa {
    font-size: 40px;
    padding-bottom: 25px;
}

.contact {
    background-color: #5c5c5c;
    padding-top: 20px;
    padding-bottom: 20px;
    color: #ffffff;
    font-family: 'Raleway', sans-serif;
}

.contact-head {
    font-family: 'Titillium Web', sans-serif;
    font-weight: 700;
}

.github {
    text-decoration: none;
    color: #ffffff;
}

.github:hover {
    color: #ED8822;
}

.fa-github {
    font-size: 30px;
}

