.body{
    height: 100vh;
    background-color: #929291;
    font-family: Titillium Web;
    font-weight: 400;
}
.title{
    padding-top: 6em;

}
h3{
    color: #ED8822;
    font-size: 1.875rem;
}
h4{
    color: #fff;
    font-size: 1.25rem;
  }
   label{
    color: #fff;
    font-size: 1.25rem;
  }
   button{
    background-color: #2C2C80;
    color: #fff;
  }
   .btn{
    font-size: 1.875rem;
  }
  p{
    color: #fff;

  }